.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    color: #888;
}

.country{
    padding: 5px 10px;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
}

.links {
    width:  60vw;
    height: 20vh;
    margin: 0px auto ;
}

.links ul li {
    padding: 5px 8px;
    cursor: pointer;
    font-size: 11.5px;
}
.links ul {
    height: 20vh;
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.links ul li {
    margin:  1px;
    text-align: center;
    flex: 1 1 50px;
}